<div class="content">
    <h2>Create new attraction</h2>
    <div class="fields">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="model.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="model.description"></textarea>
        </mat-form-field>
    </div>
</div>

<app-add-image
    [imageUrl]="this.imageUrl"
    (selectedImage)="onImageSelected($event)">
</app-add-image>
<app-map height="500px" width="940px"  mapId="create-attraction-map" [mapMode]="2" (mapClick)="updateCurrentPinCoords($event)"></app-map>

<div class="buttons">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-secondary" (click)="saveAttraction()">Save</button>
</div>
