$bright-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #80afcd;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.4;
}

.container {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  width: 350px;
  height: 500px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);

  .container__info {
    
    div {
       display: flex; 
       justify-content: center;
       align-items: center;
       margin-right: 5px;

       app-icon {
           margin-right: 5px;
       }
    }

    bottom: 20%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: $bright-color;
    background-color: rgba(0, 0, 0, 0.315);

    span {
      margin-right: 20px;
    }
    i {
      margin-right: 10px;
    }
  }
  .container-footer {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 20px;
    
    bottom: 0;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    h2 {
      color: #334454;
      font-size: 1.2rem;
    }
    p {
      color: #a1b2bc;
      font-size: 0.8rem;
    }
    p b {
      font-style: italic;
    }
  }
}
