input {
    border: none;
  }

  input:focus {
    outline: none;
  }

  .leaflet-control {
    display: none;
  }

html, body { height: 100%; }

.mat-mdc-tooltip {
  font-size: medium;
}

.search-modal {
  height: 80%;
  width: 80%;
}
